body {
  background: url(https://files.wallpaperpass.com/2019/10/cloud%20wallpaper%20017%20-%201920x1080.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.weather-box {
  text-align: center;
  border: 3px solid white;
  padding: 50px;
  border-radius: 30px;
  background-color: azure;
}
